.App {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: gray;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 6vmin; */
  height: 10%;
  width: 10%;
  cursor: pointer;
}

.App .container {
  background: powderblue;
  padding: 20px;
  margin: 50px;
  border: 1px solid powderblue;
  border-radius: 10px;
}

.App .container .inputForm {
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.App .container .tasksContainer {
  /* background: rgb(230, 235, 166); */
  border: 1px solid white;
  border-radius: 5px;
}

.App .container .tasksContainer .itemContainer {
  /* background: rgb(230, 235, 166); */
  padding: 10px;
  border: 1px solid white;
  background: white;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
}

.done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  text-decoration: line-through;
}

.undone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.icons{
  display: flex;
  justify-content: flex-end;
}

input, button  {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

button {
  background: #38a745;
  color: white;
}

button:hover {
  background: #1d922b;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0px;
}
